<?xml version="1.0" encoding="utf-8"?>
<config>



    <fieldset name="googleclientdetails" label="COM_PBBOOKING_GOOGLE_CLIENT_DETAILS">
        <field name="clientid" default="764986187655-g9r032usscqqmoks1p20hki8vrte71j1.apps.googleusercontent.com" label="COM_PBBOOKING_GOOGLE_CAL_CLIENTID"/>
        <field name="clientsecret" default="P92QlaK0XQYBMYQccBivlkFk" label="COM_PBBOOKING_GOOGLE_CAL_CLIENTSECRET"/>
    </fieldset>


	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_pbbooking"
			section="component" />
	</fieldset>

</config>
